<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!--back arrow-->
      <div class="col-xs-1">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/user', userId]" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Users</b>
          </a>
        </p>
      </div>

      <div class="col-xs-10">
        <p class="navbar-header">
          <a class="navbar-brand thick">
            <b>Users</b>
          </a>
        </p>
      </div>
      <div class="col-xs-1">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/admin', 'user', userId, 'users', 'new']"
             class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid top-margin">
  <ul class="list-group">
    <li class="list-group-item active">
      Name
    </li>
    <div *ngFor="let user of users">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-9">
            <a [routerLink]="['/admin', 'user', userId, 'users', user._id]">
              {{user.firstName}}
            </a>
          </div>
          <div class="col-xs-3">
            <a class="pull-right" (click)="followUser(user._id)">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
