<div class="background">
  <div class="container center">
    <h1>Alek Piekarski</h1>
    <div>
      <img src="../../../Headshot.JPG"
           width="100"
           height="100"
           alt="Personal Photo">
    </div>
    <div>
      <a [routerLink]="['/search']">Project Home Page</a>
    </div>
    <div>
      <a href="https://github.com/apiekarski98/piekarski-alek-travelbetter/wiki">Project Git Hub</a>
    </div>
    <div>
      <a href="https://webdev-piekarski-alek.herokuapp.com/login">Assignment Home Page</a>
    </div>
    <div>
      <a href="https://github.com/apiekarski98/webdev-piekarski-alek/wiki">Assignment Git Hub</a>
    </div>
  </div>
</div>
