<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <p>Search</p>
      </a>
    </div>

    <div class="navbar-text pull-right">
      <div class="row">
        <div class="col-xs-6">
          <a class="btn btn-primary btn-block"
             [routerLink]="['/login']">
            Login
          </a>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-success btn-block"
             [routerLink]="['/register']">
            Register
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container top-margin">
  <h1>Search for a city</h1>
  <form (ngSubmit)="search()" #f="ngForm">
    <input placeholder="Search"
           name="searchTerm"
           type="text"
           class="form-control"
           ngModel
           required
           #searchTerm="ngModel"/>
    <div class="alert alert-danger" *ngIf="!searchTerm.valid && searchTerm.touched">
      Please enter a city!
    </div>
    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">
      Search
    </button>
  </form>
</div>
